<h3>Amaiera Data</h3>
<p>Amaiera Data, lanpostu hau utzi zenueneko eguna da. UUUU/HH/EE (Urtea/Hilabetea/Eguna) formatoa erabilita edo Egutegian Data aukeratuz jar dezakezu zure Amaiera Data.</p>
<p>Ez baduzu Amaiera Datarik jartzen, oraindik lanpostu horretan lanean ari zarela ulertuko da eta Amaiera Data zutabean Oraindik azalduko da.</p>
