<h3>Kontakturako Informazioa</h3>
<p>Zure Kontakturako Informazioa, zure <b>Profilaren</b> barruan gordeta dagoen lekutik hartzen eta editatzen da zuzenean. Kontakturako Informazio hau gehitu edo eguneratzeko klikatu <b>Profila Editatu</b> eremuan. Behin informazioa sartutakoan, klikatu <b>Nire Curriculum Vitaea Editatun</b> zure Curriculum Vitae eremura bueltatzeko.</p>
<p>Ikus, Curriculum Vitae eremuan egindako aldaketa guztiak <b>Gorde</b> egin behar dituzula zure Profiletik irten aurretik.</p>