<h3>Gomendio Gutuna</h3>
<p>Gomendio Gutuna eremuak, zure Curriculum Vitaea begiratuko dutenentzat ohar bat sortzeko aukera ematen dizu. HTML editorea erabiliz, Gomendapen Gutunari behar bezalako formatua eman diezaiokezu.</p>