<h3>Aurkezpen-gutuna</h3> <p>Aurkezpen-gutuna eremuak zure aurkezpena aztertzen duten erabiltzaileentzako mezua idazteko aukera ematen dizu. HTML editorea erabilita behar duzun bezalako formatua eman ahal diozu aurkezpen-gutunari.</p> 