<h3>Interesak</h3>
<p>Interesak azpiatalak zure interes pertsonal eta/edo profesionalak zerrendatzeko aukera ematen dizu. Hemen, zure zaletasunak, kirol jarduerak, bolondres lanak, ikerketa edo esperientzia eremuak, e.a. jar ditzazkezu. Zure Interesak zerrendatzeak zure enplegu emaileei zu hobeto ezagutzeko aukera emango die, eta errazago ikusi ahal izango dute beren erakundeari eskain diezaiokezuna.</p>