<h3>Erakundearen atributua</h3> <p>Atributu hau zure Nortasun Hornitzaileak (IdP) ematen du eta erabiltzailea zein erakunderi dagokion erakusten du. Normalean LDAP (IdPren sinatzeko zerbitzua) adibidez: eduPersonOrgDN</p> 