<h3>Simple SAML PHP Liburutegi Bidea</h3> <p>Simple SAML PHPren liburutegi-direktorioaren bide zehatza. Adibidez, autoload.php fitxategiaren bide zehatza hauxe duzu: /some_path_to/simplesamlphp_1_3/lib/_autoload.php then this value should be /some_path_to/simplesamlphp_1_3/</p> 