<h3>Administrazio-Fitxategiak</h3>
<p>Administrazio-Fitxategiak eremuak, Nire Fitxategiak eremuak funtzionatzen duen modu oso antzekoan egiten du. Eremu honetara gora-kargatutako fitxategiak sisteman dauden erabiltzaile guztien eskura egongo dira, eta karpeta &#8217;publiko&#8217; batean jartzen direnak URL zuzena duen edozein erabiltzaileren eskura egongo da.</p>