<h3>Erakundeak</h3> <p>Erakundeak orriak aukera ematen dizu daudenak editatzeko eta zure gunearekin lotutako erakunde berriak ezartzeko. Erakundeak erabiltzaileentzako edukiontzi handiak dira eta euren kudeatzaile eta langileak izan ditzakete, gunearen kudeatzailea guneaz arduratzeko libre uzteko.</p>
