<h3>Pluginen kudeaketa</h3> <p>Pluginen kudeaketa eremuak zure Mahara sisteman instalatuta dauden plugin guztiak zerrendatzen ditu eta pluginen konfigurazio-ezarpenetarako esteka eskaintzen du pertsonalizatzeko, erabiltzeko moduan badaude.</p>
