<h3>Langileak</h3> <p>Langile sarrerak erabiltzaileari kontrolatutako Komunitateak sortzeko aukera ematen dio, bidalitako orriak jaso eta berrikusi, eta erabiltzaileen funtsezko informaziora sartzekoa (izen abizenak, ikasle ID-a, hobetsitako izena).</p> <p>Langile sarrera erabiltzaile bati esleitzeko, aukeratu Langile-Potentzialen zerrendatik eta erabili eskuinerantz dagoen geziaren botoia Oraingo Langileen zerrendara mugitzeko. Erabiltzaile bati langile sarrera kentzeko, aukeratu bere izena Oraingo Langileen zerrendatik eta ezkerrerantz dagoen geziaren botoiari sakatu Potentzialen zerrendara bueltarazteko</p>
<p>Gunean 100 erabiltzaile kontu baino gehiago daudenean, bilaketa kaxa erabilita  bila dezakezu erabiltzaile zehatz bat. Aldiro erabiltzaile anitz aukera ditzakezu Ctrl+Shift erabili eta sakatuta.</p>
