<h3>Etendako Erabiltzaileak</h3> <p>Erabiltzaile bat aukeratu erabiltzailearen informazioaren eskumatara dagoen laukitxoa markatuta. Sakatu aukeratutako erabiltzaileak berriz aktibatzeko botoiari edo ezabatzeko botoiari.</p>