<h3>Bisten Itxura edo Azala Konfiguratu</h3>
<p>Bisten Itxura edo Azala Konfiguratu orrialdeak, administratzaileari, instalatuta dauden Bisten azalak ikusteko aukera ematen diote, moldatutakoak edo kaltetutako azal-fitxategiak berristalatzeko.</p>
