<h3>Beste erabiltzaileen mezuak</h3> <p>Ezarpen hau erabili, noren mezuak jaso nahi dituzun erabakitzeko.</p> <p>Aukeratu zure Ezarpenak-en nola jaso nahi dituzun mezu hauek.</p> <p><strong>Oharra:</strong> Muga hauek ez zaizkie aplikatuko guneko kudeatzaile edota irakasleei.</p>
