<h3>HTML editorea</h3> <p>HTML editorea (WYSIWYG) gune honetako zenbait ataletan erabili daiteke. HTML editoreak jarri duzun testuari formatua erraz aplikatzeko aukera eskaintzen dizu. Editorea ezgaitua baldin badago testu soila baino ezingo duzu sartu.</p> <p><strong>Oharra:</strong> HTML editorea ezberdin ikusten da eta funtzionatzen du hainbat  nabigatzailetan.</p>
