<h3>Hizkuntza</h3> <p>Zure menuaren elementuak eta testuinguruaren araberako laguntza zein hizkuntzatan agertuko den erabakitzeko aukera izan dezakezu. Jarri harremanetan gunearen kudeatzailearekin honen inguruko zalantzak argitzeko.</p>