<h3>Orri bat editatzean zutabeak gehitu eta ezabatzeko kontrolak erakutsi</h3> <p> <img src="/theme/raw/static/images/btn_addcolumn_left.png" alt="add"> <img src="/theme/raw/static/images/btn_removecolumn.png" alt="remove"> botoiak azaltzen dituen lerroa erakustea aukera dezakezu orriaren editorean. Botoi hauek orri honetatik zutabeak gehitu eta ezabatzen dituzte.</p> <p>Ez badago gaituta, zure orriaren zutabe kopurua orriaren diseinuaren atalean alda dezakezu.</p>
