<h3>Pasahitzak</h3> <p>Zure sarrerako pasahitza aldatzeko sartu zure oraingo pasahitza eta ondoren, zure pasahitz berria izatea nahi duzuna Berria eta Baieztatu kaxetan.</p> <p>Zure pasahitzak gutxienez sei karaktere izan behar ditu eta horietatik, gutxienez zenbaki bat eta bi letra izan behar dira. Zure pasahitzak ezin du zure erabiltzaile-izenaren berdina izan eta letra larri eta xeheak desberdindu egiten ditu.</p>
