<h3>Etiketak</h3>
<p>Etiketak eta Artefaktuak gehitu diezazkiekezu Mahararekin sortutako Bistei. Etiketek Artefaktu eta Bistei deskribapen bat gehitzeko eta Etiketa sailkapen-aurkibide bat sortzeko aukerak eskaintzen dizkizute.</p>
<p>Artefaktu edo Bista bati Etiketa anitz asoziatzeko, Etiketa bakoitza koma batekin banandu. Adibidez - ‘Ebaluazioa, 2. Lauhilabetekoa, Kudeaketa’.</p>
<p><b>Nire etiketak erakutsi</b>-n klikatuta zure portfolian aurretik erabili dituzun Etiketen zerrenda sortuko da, zenbatetan erabili dituzun ere zehaztuz. Existitzen den Etiketa batetan klikatuz, orain sortzen ari zaren Artefaktu edo Bistaren Etiketa zerrendara gehituko duzu.</p>
<p><b>Nire Portfolian Bilatu</b>-n erabiliz, Etiketa konkretu batekin lotu dituzun Artefaktu eta Bista guztiak aurkituko dituzu, bide batez zure portfolioarentzako aurkibide bat sortuaz.</p>
