<h3>Sartzeko Amaiera Data/Ordua</h3>
<p>Bista-Sorreraren 4. urratsean zure Bistan sartzeko aukera eman diezun Komunitate zein Pertsonek zure Bistara ze eperen barruan sar daitezken finka dezakezu.</p>
<p>Data eta ordua ondoko formatua erabiliz sar ditzazkezu edo Egutegia erabiliz aukeratu dezakezu bestela Sartzeko Amaiera Data.</p>
<h4>Data eta Ordu Formatua</h4>
<p>
  Sartzeko Amaiera Data jarri ondoko formatua erabiliz:<br>
  UUUU/HH/EE OO:OO <br>
  (Urtea/Hilabetea/Eguna Ordua: Minutuak)
</p>
<p>Adibidez: 2008/05/22 08:30</p>

<h4>Egutegia</h4>
<p>
    Klikatu &lt;&lt; &gt;&gt; botoiak urteen zerrendan barrena mugitzeko 
    edo klikatu eta eutsi &lt;&lt; &gt;&gt; botoiak urteen goitikbeherako menua irekitzeko.
    
</p>
<p>Klikatu &lt; &gt; botoiak hilabeteetan ziklatzeko edo klikatu eta eutsi bestela hilabeteen goitiberako menua irekitzeko.</p>
<p>Gaur ere aukeratu dezakezu Bista egin bezain laster ikusgai egon dadin.</p>
<p>Klikatu denbora eremutan ordu eta minutuetan gora eta behera joateko edo bestela Shift-klik egin ordu eta minutuen goitikbeherako menuan mugitzeko. Zure sagua klikatu eta arrastatu orduan azkar igo edo jeisteko.</p>
<p>Ez baduzu Sartzeko Amaiera Datarik sistemak ez du gordeko Amaiera Datarik.</p>
