<h3>Erabiltzaileak berak taldeetan gehitu</h3> <p>Bai aukeratzen baduzu, gunean izena emandako edozeinek gehitu ahal izango du bere burua talde honetara.</p> <p>Talde-motaren arabera, erabiltzaileek taldea uzteko aukera izango dute.</p> 