<h3>Partaidetza Modua</h3>
<p>Komunitate bat sortzen duzunean besteen partaidetza modua aukeratu dezakezu, honela, beste erabiltzaileak zue Komunitatera elkartzeko modua aurrezehaztuko duzularik.</p>
<h4>Edonor Elkar Daiteke</h4>
<p>
  Zure Komunitatearen partaidetza Edonor Elkar Daiteke moduan ezarrita guneko erabiltzaile oro partaide egin daiteke zure Komunitatea bisitatu eta Elkartu botoia sakatu hutsarekin.</p>
<h4>Elkarketa-Eskaera</h4>
<p>
  Zure Komunitatearen partaidetza Elkarketa-Eskaeran ezartzen baduzu erabiltzaile orok eska diezazuke zure Komunitatearen partaide izateko baimena, dena den, zu zarenez jabea, Onartu edo Ezezkoa ematearen artean aukeratu dezakezu. Eskaera egiten duen kideari automatikoki iritsiko zaio zure erabakiaren ohartarazpena.</p>
<h4>Gonbidapenez Soilik</h4>
<p>
  Zure Komuniatatearen partaidetza Gonbidatuentzat Soilik aukeran ezartzen baduzu, zuk espreski gonbidapena bidali diezun erabiltzaileak baino ezingo dira zure Komunitatean sartu.</p>
<h4>Kontralutriko Partaidetza</h4>
<p>
  Kontrolaturiko Partaidetza Gunearen Administratzaileek eta baimendutako administratzaileek (eta Komunitatearekin lotutako edozein Langile) baino ezin dute jendea zuzenean Komuniatatean sartu edo ezabatzeko baimena.</p>
<p>Hau, ikastaroetan oinarrituriko Komunitate batetan erabiltzeko diseinatua dago, partaidetza kanpoko sistema batek aurrezehaztua dagoen kasuetan hain zuzen (erakunde baten matrikulazio sistema esaterako). Langileek kanpoko partaidetza mota Komunitatean errepikatu ahal izateko aukera izan dezaten.</p>
