<h3>Partaidetza Mota</h3>
<p>
    Komunitate berri bat sortzen duzunean partaidetza mota batzuren artean aukeratuz
    finkatu dezakezu ze erabiltzaile elkar daitezken zure Komunitatera.
</p>
<h4>Edonor Elkar Daiteke</h4>
<p>
    Zure Komunitatearen partaidetzaren ezarpenak Edonor Elkar Daiteke aukeran jarrita
    guneko edozein erabiltzailek izango du zure Komunitatean sartzeko posibilitatea zure
    Komunitate-orrialdean bisitatu eta Sartu botoia sakatu hutsarekin.
</p>
<h4>Sarrera Eskatu</h4>
<p>
    Zure Komunitatearen partaidetzaren ezarpenak Sarrera Eskatun jarrita erabiltzaile guztiek
    sarrera eskatu beharko dizute, hala ere, jabea zu zarenez, Onartu edo Ezezkoa ematearen
    artean aukeratu dezakezu. Kide eskatzaileari automatikoki iritsiko zaio zure erabakiaren berri.
</p>
<h4>Gonbidapenez Soilik</h4>
<p>
    Zure Komunitatearen partaidetzaren ezarpenak Gonbidapenez Soilik aukeran jarriz gero,
    soilik zuk gonbidapen bat bidali diezun kideak baino ezingo dira elkartu Komunitatera.
</p>
<h4>Partaidetza Kontrolatua</h4>
<p>
    Partaidetza Kontrolatua soilik Guneko Administratzaile eta baimendutako administratzaileei (eta Komunitatearekin
    lotutako Langile guztiei), Komunitate batetatik zuzenean jendea gehitu eta kentzeko aukera ematen die. 
</p>
<p>
    Hau, ikastaroetan oinarrituriko Komunitateetan erabiltzeko diseinatu da, non partaidetza
    kanpoko sitema batek definitzen duen (esaterako erakunde baten matrikulazio sistema) eta 
    Langile-erabiltzaileek Komunitatean partaidetza modua errepikatu nahi duten.
</p>
