<h3>Erabiltzaileak berak taldeetan gehitu</h3> <p>Bai aukeratzen baduzu, gunean izena emandako edozein automatikoki gehituko da talde honetan.</p> <p>Talde-motaren arabera, erabiltzaileek taldea uzteko aukera izango dute.</p>