<h3>Guneko kudeatzailea</h3> <p>Guneko kudeatzaileek erabiltzaile eta gunearen kudeaketarekin lotutako ekintza guztiak egiteko aukera dute, baita beste erabiltzaile bat bezala sartu eta erakundeak kudeatu ere.</p> 