<h3>Berezko partaidetza-tartea</h3>
<p>Erabiltzaileak erakundearekin zenbat denboraz egongo diren elkartuta ezar dezakezu. Epe hau igarotakoan, erabiltzaileak erakundetik ezabatu egingo dira.</p> <p>Erabiltzaileek e-posta mezu bat jasoko dute ezabatu egingo dituztela gogoratzeko.</p>