<h3>Itxura</h3> <p>Erregistratuta dauden partaide eta erakunde honetako partaideek ikusiko duten itxura. <strong>Guneko berezkoa</strong> aukeratuta baldin badago, gunearen kudeatzaile batek gunearen berezko itxura aldatzen duenean, erakundeko erabiltzaileei ere itxura aldatuko egingo zaie.</p>
