<h3>Blokeatutako eremuak</h3> <p>Erabiltzaileen profiletan jabeak editatu ezin dituen eremuak konfiguratzeko aukera du erakunde bakoitzak. Esaterako, segurtasunagatik eta identitate arazoak ekiditeko asmoz izena, deitura eta ikaslearen IDa blokea daitezke.</p>
