<h3>Kontuaren aktibitate-etenerako hobetsitako denbora</h3>
<p>Erabiltzaile baten kontua markatua izan aurretik kontuari aktibitatea etengo zaion epea zehaztu dezake Erakunde batek. Denbora epe hau Egun, Aste, Hilabete, Urte edo Amaiera Gabeko Datan jarri daiteke, azken honetan erabiltzaile kontuaren-etetea ez litzatekelarik gauzatuko. Kontu baten aktibitatea-etenda dagoela kontsideratuko da erabiltzaileak ezin duenean Gunean sartu.</p>
