<h3>Kontuaren lehenetsitako iraupena</h3>
<p>Erabiltzaile baten kontuari aktibitatea-eten eta sistematik ezabatua izango den epea zehaztu dezake Erakunde batek. Denbora epe hau Egun, Aste, Hilabete, Urte edo Amaiera Gabeko Datan aukeratu daiteke, azken honetan erabiltzaile kontuaren-etetea ez litzatekelarik gauzatuko. </p>
