<h3>Erabiltzaile-izena</h3> <p>Zure erabiltzaile-izenak 3 eta 30 karaktere bitarteko luzera izan behar du eta ez dira bereizko letra larri eta xeheak. Letrak, zenbakiak eta ohiko ikurrak onartzen dira.</p>
