<h3>Baimendu orri publikoak</h3> <p>Erabiltzaile guztiei orri publikoak sortzeko aukera eman nahi badiezu, orri publikoak onartu aukeran 'bai' jarri behar da.  Orri publikoak sortu dituenak baino ezin ditu editatu.</p>