<h3>Saioaren iraupena</h3>
<p>Segurtasun arrazoiengatik, zehazturiko aktibitate gabeko epe baten ondoren, erabiltzaileak automatikoki izango dira gunetik kanporatuak. Saioaren iraupena eremuak, erabiltzaile inaktibo bat zenbat minutu lehenago izango den kanporatua zehazten du.</p>
