<h3>Baimendu profil publikoak</h3> <p>Erabiltzaileei beren profilak jende guztiak ikusteko moduan ipintzeko baimena eman nahi badiezu, hemen 'bai' aukeratu behar duzu. Publikoa izan arren, identifikatutako erabiltzaileek bakarrik dituzte horma bezalako funtzio interaktiboak.</p> 