<h3>Jarduerarik gabeko kontuen berezko denbora</h3>
<p>Jartzen bada, epe horretan sistemara sartzen ez diren erabiltzaileak 'ez-aktibo'-tzat hartuko dira, eta ezingo dira berriz ere sartu. Epe hau egun, aste, hilabete eta urtetan zehaz daiteke edo amaierarik gabeko data gisa jar daiteke jarduera eten nahi ez zaien kontuentzat.</p>