<h3>Iraungitako erakundeak automatikoki indargabetu</h3> <p>Egunean behin erakundearen iraungitzea konprobatzen da. Hau aukeratuta, Maharak iraungitako erakundea indargabetu egingo du. Honen ondorioz erakundearen erabiltzaileak ezin izango dira berriz sartu erakundea berriz ere aktibatu arte.</p> 