<h3>Aktibitate eza/epemugaz ohartarazteko denbora</h3>
<p>Jartzen bada, ohar mezu bat bidaliko zaio erabiltzaileari bere kontua noiz etengo edo indargabetuko den gogoraraziz. Epe hau egun, aste, hilabete eta urtetan zehaz daiteke edo amaierarik gabeko data gisa jar daiteke jarduera eten nahi ez zaien kontuentzat, edo ez-aktibo gisa markatuta daudenentzat.</p>
