<h3>HTML Editorea</h3> <p>Honek zehazten du berez nola erabiliko den HTML editorea. <b>Erabiltzaileak erabakiko du</b> ezartzen bada, erabiltzaileek aukeratuko dute HTML editorea nola erabili euren ezarpenetan; bestela, zehaztutako ezarpena erabiliko da gunean.</p> 