<h3>Kontuaren berezko biziraupena</h3> <p>Jartzen bada, erabiltzaile kontuak epe honen ondoren indargabetu egingo dira. Erabiltzaile kontu bat indargabeturik dagoenean, erabiltzailea ezin izango da sisteman sartu. Epe hau egun, aste, hilabete eta urtetan zehaz daiteke edo amaierarik gabeko data gisa jar daiteke jarduera eten nahi ez zaien kontuentzat.</p>
