<h3>Hizkuntza</h3> <p>Menuen item eta testuinguru-laguntzaren hizkuntza gunean lehenetsitako hizkuntza izango da Mahara instalazioaren barrena. Zure Mahara gunean itzulpen pakete gehigarriak instalatuta baldin badaude, erabiltzaileek hizkuntza aukeratu egin ahal izango dute beren Kontuaren ezarpenen bidez.</p>
