<h3>Tresnen bisten aktibitate-etenerako epea</h3>
<p>Tresnen Bisten aktibitate-etenerako aukerak Bista edo Tresna baten aktibitatearen iraupena zehazteko aukera eskaintzen du. Tarte hau Egun, Aste, Hilabete, Urte edo Amaiera Gabeko Datan aukeratu daiteke, azken honetan aktibitatearen amaiera unea ez litzateke zehaztuko.</p>
