<h3>Clam-era bidea</h3> <p> <code>clamscan</code> edo <code>clamdscan</code>-erako bidea, birusen azterketarako. Clamaren funtzionamenduan akats batek fitxategi bat birus gisa trata dezakela jakina da, eta automatikoki zure Mahara instalazioko kuarentena-direktorioara joango da.</p>
