<h3>Itxura</h3> <p>Hainbat itxura instalatuta daudenean, zabaltzen den menutik aukeratu ahal izango duzu zein itxura erabili zure Mahara gunean. Itxura horixe izango da berezkoa identifikatzen diren erabiltzaileentzat.</p><p>Erakundeek ere ezar dezakete berezko itxura bat eta hori ikusiko dute erabiltzaileek erakunde horretan identifikatzen direnean. Erakundeen itxurak <a href="../users/institutions.php">Kudeatu erakundeak</a> atalean ezar ditzakezu.
