<h3>Erabiltzaileak erakunde anitzetan onartu</h3>
<p>Galtuta baldin badago, erabiltzaileak erakunde batean baino gehiagotan egon daitezke aldi berean. Erabiltzaileak adieraziko du zein erakundetan egon nahi duen sisteman sartzen den bakoitzean, nahiz eta erakundeak aurretik bere eskaera onartua izan behar duen. Era berean, erakundeek erabiltzaileak gonbidatu ditzazkete, baina erabiltzaileek eskaera hau onartu beharko dute.</p>
