<h3>Aktibitate-Hobespenak</h3>
<p>Aktibitate Mota bakoitzetik ohartarazpenak nola jaso nahi dituzun aukeratu dezakezu.</p>

<h4>Ohartarazpen Motak:</h4>
<dl>
    <dt>Aktibitate-Erregistroa</dt>
    <dd>
        Jasotako ohartarazpenen kopia bat zure Ohartarazpen-eremuan bistaratuko duzu.
        
    </dd>
    <dt>Emaila</dt>
    <dd>
        Email bakan bat bidaltzen da zure lehenetsitako email helbidera aktibitea dagoenean.
        
    </dd>
    <dt>Laburpen-emaila</dt>
    <dd>
        Zure lehenetsitako emai helbidera mezu bakar bat bidaliko da azken 24 orduetan jazotako gertaerekin.
        Nahiz eta oharterazpena horrela jarri email-aukeretan, aktibitate-oharterazpenak, 
        zure Ohar-eremuan gordeko dira gertatzen diren unean, baina irakurritakotzat 
        markatuta geratuko dira automatikoki. Irakurritako oharrak automatikoki iraungituko da
        eta zure Ohar-eremutik 60 egun pasatakoan ezabatuko dira.
    </dd>
</dl>

<h4>Aktibitate Motak:</h4>
<dl>
    <dt>Sistemaren mezuak</dt>
    <dd>
      Sistemak automatikoki sorturiko mezuak edo Gunearen Administratzaileetariko batek bidali dizkizun mezuak biltzen ditu.</dd>
    <dt>Beste erabiltzaileengandik jasotako mezuak</dt>
    <dd>
      Zuzenean guneko beste erabiltzaileengandik jasotako mezuak biltzen ditu.</dd>
    <dt>Feedback-a</dt>
    <dd>
      Zure ePortfolioan jasotako Ohar zein Feedback-ak. Irekita duzun edozein blogetan jasotako komentarioak Feedback gisa zerrendatuko dira baita.</dd>
    <dt>Ikus-zerrenda</dt>
    <dd>
      Zure Ikus-zerrendatik monitoreatzen ari zaren Artefaktu, Bista edo Komunitateen aktibitatearen oharterazpena.</dd>
    <dt>Bista Berriak</dt>
    <dd>
      Indibidualki edo Komunitate batetako kide gisa beste erabiltzaile batek Bista berri batetako sarbidea eman dizula jasotzen duen oharterazpena. Bista publikoki irekia baldin bada ez zaizu ohartaraziko.</dd>
    <dt>Bista Berrietara Sarrera</dt>
    <dd>
      Indibidualki edo Komunitate batetako kide gisa beste erabiltzaile batek Bista batetako sarbidea eman dizula jasotzen duen oharterazpena. Bista publikoki irekia baldin bada ez zaizu ohartaraziko.</dd>
    <dt>Administrazio Mezuak</dt> (Gunearen Administratzaileentzat baino ez)
    <dd>
    Gunearen Administratzaileentzako ohar eta zerbitzu eskaerak.</dd>
</dl>
