<h3>Sarrera-ontzia</h3> <p>Zuri eragiten dizuten aktibitate eta gertaeren zerrenda da hau.</p>
<p>Erabili Ezarpenetako Jakinarazpenak orria jakinarazpenak nola jaso nahi dituzun zehaztu dezakezu. Mezua irakurritakoan, irakurritakotzat markatu dezakezu zure mezu oharretatik ezabatzeko.</p>
<p><strong>Oharra:</strong> Irakurritako jakinarazpenak automatikoki desagertuko dira zure zerrendatik 60 egun iragan ondoren.</p>
