<h3>Nire Ikus-zerrenda</h3>
<p>Zure Ikus-zerrendak, sartzeko aukera duzun Artefaktu, Bista eta Komunitateen zerrenda bistaratzen du, eta &#8216;Ikus-zerrendara Gehitu&#8217; erabiliz monitorizatzen dituzun itemak aldatu edo eguneratu ditzazkezu.</p>
<p>Edozein momentutan eten dezakezu item baten monitorizazioa. Erabiltzaileez gain, erabiltzaile zehatz baten Artefaktu, Bista eta/edo Komunitateak bilatu ditzazkezu.</p>
<p>Izartxo &#8216; * &#8217; batekin nabarmendutako itemek, hauei lotuta dauden azpiko Bista edo Artefaktuak ere monitorizatuko dituzula adierazten du. Esaterako, Bista bat monitorizatzen ari bazara, haur edo azpiko Artefaktuak ere Bistarekin batera ikusiko dituzu. Artefaktu bat monitorizatzen ari bazara, honi lotuta dauden azpiko-item edo haurrak (Blog eta Blog-postak edo Karpeta eta Fitxategia esaterako).</p>