<h3>Guneko fitxategia</h3> <p>Guneko fitxategiak eremuak gordetako fitxategi bat baliabide gisa erabil dezakezu. Fitxategiaren izena sartu beharko da Izena eremuan eta nahi duzun fitxategia aukeratu estekatzeko zerrendatik.</p> 