<h3>Admin fitxategia</h3>
<p>Fitxategi bat gorde dezakezu Menu Nagusiko Admin Fitxategi eremuan. Eremu hau aurkezteko Izena eremuan izena jarri behar duzu eta jarri nahi den fitxategia menu-hedagarriko zerrendatik aukeratu behar duzu.</p>
