<h3>Menu Nagusia</h3>
<p>Menu Nagusian baliabide eta informazio garrantzitsua topatu dezakezu. Sisteman bi menu daude erregistratu gabeko erabiltzaileek publikoki erabiltzeko moduan eta erregistraturiko erabiltzaileentzat baliabideak ere. Bi menu hauetako itemak bereiztuak egongo dira.</p>
