<h3>Baieztatzeke dauden partaidetza-eskaerak</h3>
<p>Zure Komunitateentzat aukeratu duzun partaidetza motaren arabera, zerrendatuko dira Baieztatzeke Dauden Partaideen Eskaerak. Ohartarazpen bidez jakinaraziko zaizu eskaera berri bat duzunean. Partaide bakoitzaren eskaera Onartu edo Ezesten duzunean, erabiltzaileari zure erabakiaren berri emango zaio.</p>
