<h3>Nire Portfolioaren bilaketa-kaxa</h3>
<p>Nire Portfolian Bilatu eremuan hitz-gako bat bilatu dezakezu Artefaktu eta Bistetan erabilitako Etiketa, Deskribapen, Izen, Izenburu edo testuan. Bilaketaren emaitzak lotura editagarri bat eskainiko dizu Artefaktu eta Bista garrantzitsu guztietarako.</p>
<p>Bilaketa espezifiko bat egin dezakezu edo zure portfolioan dituzun Bista eta Artefaktu guztietan egin dezakezu Kontsulta eremua hutsik utziz.</p>
<p>Etiketa eremuak erabiliz eta Nire Portfolioan Bilatu ataletik fitxategi sistema edo aukibideak egin ditzazkezu zure portfolioarentzat.</p>
