<h3>Bista-kontrolak editatu</h3>
<h4>Bistaren Informazioa Editatu</h4>
<p>
    Bistaren Informazioa Editatu eremua Bista Sortzeko 1.go Urratsaren baliokidea da
    eta Izenburua, Sarrerarako Hasiera eta Amaiera Datak, Deskribapena eta Aurkezpen Izenaren
    hobespenak aldatzeko aukera ematen dizu.
</p>
<h4>Bista Editatu</h4>
<p>
    Bista Editatu eremua Bista Sortzeko 3. Urratsaren baliokidea da eta zure Bistarekin 
    lotutako Artefaktuak gehitu, edo aurkezteko modua editatzeko posibilitatea
    eskaintzen du.
</p>
<h4>Sarrera Baimenak Editatu</h4>
<p>
    Sarrera Baimenak Editatu, Bista Sortzeko 4. Urratsaren baliokidea da, eta zure Bistara
    sartzeko baimena zuk aukeratutako Komunitate zein Erabiltzaileentzat finka dezakezu, gehitu, eraldatu
    edo ezabatuz.
</p>
<h4>Ebaluaziorako Bidali</h4>
<p>
    Bista bat prestatzen ari bazara ebaluazio ariketa gisa, eta Kontrolatutako
    Partaidetza Komunitate batetan partaide gisa gehitua baldin bazaude tutore bat
    egokituko dizute eta zure Bista Bidali ahal izango duzu bere ebaluaziorako.
</p>
<p>
    Bistaren bidalketak Bista osoa blokeatuko du eta berari lotutako Artefaktuak,
    eta zure Bistaren ‘pantaila-kaptura’ bat eskaintzen du eta zure Tutoreari bidaltzen dio.
    Ikus Bista horretara sartzeko baimen duen edozein erabiltzailek oraindik ere
    Iruzkinak eta Komentarioak egin ditzazkela nahiz eta Bista bidalketagatik
    blokeatua egon. Behin ebaluazio prozesua bukatutakoan, zure tutoreak Bista
    desblokeatuko du editagarria izan dadin berriz ere. Ohartarazpenen bidez
    jakinaraziko zaizu zure Bista noiz izan den desblokeatua.
</p>
