<h3>Erabilera komertziala</h3> <p>Baimena ematen diezu besteei kopiatu, banatu, erakutsi eta lana aldatzeko, baita helburu komertzialerako ere.</p> <h3>Ez komertziala</h3> <p>Baimena ematen diezu besteei kopiatu, banatu, erakutsi eta lana aldatzeko baina helburu ez komertzialerako bakarrik.</p> 