<h3>Ataka-zenbakia</h3>
<p>Urruneko aplikazioak ulertzen duen ataka-zenbakia. Ziur aski ez duzu aldatu beharrik izango, https zerbitzu baten bidez konektatzen ari ez bazara behintzat, edo zure urruneko app-a estandarra ez den ataka batean ibili ezean.</p>