<h3>Identifikatutako erabiltzailearen informazioa eguneratu</h3><p>Urruneko zerbitzaritik erabiltzailearen informazioa lortu eta zure erabiltzaile lokalean gorde erabiltzailea sisteman sartzen den aldi bakoitzerako.</p>
