<h3>Eguneratu</h3>
<p>Gaiak aukeratu, gaien ezkerraldean dagoen laukitxoa markatuz, ondoren aukeratu nola eguneratzea nahi duzun aukeratutako gaiak.</p>
<p><strong>Harpidetu</strong>: aukeratutako gaietan gehitutako mezuen jakinarazpenak jasoko dituzu.</p>
<p><strong>Harpidetza-eten</strong>: Ez duzu jasoko aukeratutako gaietan gehitutako mezuen jakinarazpenik.</p><p><strong>Itsatsita</strong>: aukeratutako gaiak orrialde guztien goiko aldean azalduko dira.</p>
<p><strong>Itsatsi gabe</strong>: aukeratutako gaiak ez dira egongo orrialde guztien goiko aldean.</p><p><strong>Irekia</strong>: taldeko partaide guztiek bidal ditzakete mezuak aukeratutako gaietara.</p><p><strong>Itxia</strong>: taldearen kudeatzaileek eta foro-moderatzaileek bakarrik bidal ditzakete mezuak aukeratutako gaietara.</p>