<h3>Eguneratu</h3>
<p>Gaiak aukeratu, gaien ezkerraldean dagoen laukitxoa markatuz, ondoren aukeratu nola eguneratzea nahi duzun aukeratutako gaiak.</p>
<p><strong>Harpidetu</strong>: aukeratutako gaietan gehitutako mezuen jakinarazpenak jasoko dituzu.</p>
<p><strong>Harpidetza-eten</strong>: Ez duzu jasoko aukeratutako gaietan gehitutako mezuen jakinarazpenik.</p>
