<h3>Profil-irudiaren tamaina</h3> <p>Profil-irudiaren tamainak zehazten du zabalean eta altueran gehienez zenbat pixel izan ditzakeen erabiltzailearen profil-irudiak. Profil-irudiak eremura igotako irudi guztiak ekarriko dira tamaina horretara.</p> 