<h3>Erabiltzaile-izena/Pasahitza Gogorarazi</h3> <p>Zure pasahitza ahaztu baldin baduzu berri bat eskatu dezakezu. Jarri zure e-posta helbide nagusia laukian eta ‘Bidali’ri sakatu. Automatikoki esteka bat bidaliko dizugu. Hau jarraitu zure berriztapen eskaera baieztatu eta zure pasahitza aldatzeko.</p> <p><strong>Oharra:</strong> Pasahitzaren aldaketarako e-posta mezu bat jaso baduzu zuk horrelakorik eskatu gabe iruzur bat izan daiteke. Ez sakatu horrelako e-postetako inongo estekari.</p>
