<h3>Erregistroa</h3>
<p>Zure ePortfolio kontua ez badu zure erakundeak sortzen, zure kabuz erregistratu behar zara. Kasu honetan, osatu eta bidali erregistro formulario hau. Email bat iritsiko zaizu zure email helbidera. Hemen, klikatu ahal duzun lotura bat ikusiko duzu - hau sakatu zure kontua baieztatzeko eta sisteman sartzeko. Ez baduzu email hau jasotzen 24 orduren epean, mesedez zure spam filtroa begiratu. Arazoren bat baldin baduzu erregistroarekin, mesedez jarri harremanetan guneko administratzailearekin.</p>
<p><strong>Oharra:</strong> Email loturak 24 orduko balioa du. Denbora hau iragandakoan prozesua errepikatu beharko duzu.</p> <p>Jarraian zure profilaren eremuak betetzeko eskatuko zaizu, eta zure profilerako irudia ere jar dezakezu. Behin erregistratuta, zure erabiltzaile izena eta pasahitza jartzeko eskatuko zaizu (eta ziur aski zure erakundea) zure portfolioan sartzeko.</p>  
<p><strong>Oharra:</strong> Gune honek egunean dagoen nabigatzailea behar du, esaterako: Internet Explorer 7.0 edo goragokoa edo Firefox, Safari edo Chrome-ren bertsio berria. Mahara erabiltzeko zure nabigatzailearen cooki-ak gaituta izan behar dituzu.</p>
