<h3>Bista Sortzeko 4. Urratsa</h3>
<p>Bista Sortzeko 4. Urratsean, zurekin lotuta dauden Komunitate eta Partaideei, zure bistara sartzeko epea zehaztu dezakezu.</p>
<p>Erabiltzaile eta Komunitate zehatzak bilatu ditzazkezu edo eskaintzen den zerrendatik erabiltzaile bat aukeratu. Klikatu Gehitu hartu nahi den erabiltzailearen ondoan eta sartu ahal izateko epearen hasiera eta amaiera datak eskuinaldeko kaxan jarri. Ez baduzu datarik zehazten, sartzeko hasiera eta amaiera datak, Bistarentzat hobetsitakoak izango dira.</p>
<p>Gunearen ezarpenen baitan, erregistraturiko erabiltzaile guztiei utz diezaiekezu Bistan sartzen, publiko jarriz edo zure Lagun zerrendan dauden erabiltzaileak aukeratuz.</p>
