<h3>Bista Sortzeko 3. Urratsa</h3>
<p>Hirugarren urrats honetan edozein Artefaktu edo Gailu zein zure portfolioaren atal gehitu diezazkiokezu zure Bistari eta txantiloiaren diseinuaren baitan ordenatu.</p>
<p>Aukeratu duzun txantiloiaren baitan bistaratze-aukera desberdinak izango dituzu eskura.</p>

<h4>Bistaratze-aukerak:</h4>
<dl>
    <dt>Etiketak</dt><dd>Etiketaren bitartez, testu soila erabilita Bistaren izenburua edota deskribapen labur bat jar dezakezu. Ziurtatu Sartu sakatzen duzula testua Etiketa kaxan sartu ondoren, zure sarrera baieztatzeko.</dd>

    <dt>Artefaktu edo Gailuen Zerrenda</dt><dd>Bistarekin lotu ditzazkezun Artefaktu edo Gailuak testu batetan dituzu zerrendatuta, Artefaktu bakoitzera esteka batekin. &#8216;Edukitzailea&#8217; edo beste Artefaktu edo Gailu batzuen erroa den gailu bat (esaterako, blog postak bere barnean dauzkan blog bat) bere horretan bistaratzea aukeratu dezakezu edo bestela berari lotuta dauzkan Artefaktu edo Gailuen zerrenda bistaratu dezakezu.</dd>

    <dt>Txertatutako Artefaktu edo Gailuaren Neurri Finkoa</dt><dd>Txertatutako Artefaktu edo Gailuaren Neurria, orrialde batean txertaturiko artefaktu soil baten bistaratze tamaila zehazten da txantiloien bitartez. Tamaila honetan bistara daiteken Artefaktuak (irudiak adibidez) jar daitezke soilik.</dd>

    <dt>Txertatutako Artefaktu edo Gailuaren Neurri Algarrarria</dt><dd>Bista batetan Txertatutako Artefaktu edo Gailuak Neurri Algarrarria badu, Gailu edo Artefaktu hau bistaratzeko modua aldatzeko aukera egongo da.</dd>
</dl>

<h4>Artefaktuak jarri zure Bistan:</h4>

<p>Zure ePortfolioan dauzkazun Artefaktu edo Gailu guztiak zerrendatuta daude pantailaren eskuinaldean. Artefaktu motaren baitan daude sailkatuta (Bloga, Profila, Fitxategia, e.a.), ondorioz, Artefaktuen edukatzaileak aplikatu daitezke (esaterako, Bloga, Karpeta), eta baita Artefaktu bakanak. Erabili + eta &#8211; ikurrak direktorio egitura hori ireki/isteko.</p>
<p>Each page element box contains basic instructions on how it may be used  within the View. </p>
<p>Artefaktu bat aukeratzeko +/- ikonoak erabili zerrendan eta sagu klik soil bat nahi duzun Artefaktua gainean. Triangelu txiki bat azalduko da Artefaktuaren ondoan aukeratua izan dela adierazteko.</p>
<p>Behin artefaktu bat aukeratua izan denean Artefaktu mota hau onartzen dituzten bistaratze eremu guztiak azpimarratuak azalduko dira. Artefaktua kaxara eramateko elementu-kaxaren barruan klikatu.</p>
<p>Bistaratze-kaxaren baitan dago aukeratu behar duzun Artefaktu mota, ondoren bistaratze posibilitate desberdinen artean aukeratu dezakezu beren deskribapenean klikatuta.</p>
<p>Adibidez:</p>
<ul>
    <li>Item zerrenda (Artefaktuetara daramaten esteka edo loturen zerrenda)</li>
    <li>Artefaktu hauen ondorengo edo haurren zerrenda (Artefaktuaren barruan dauden itemen zerrenda)</li>
    <li>Artefaktu osoa bistaratu</li>
    <li>Artefaktu honen metadatuak bistaratu</li>
</ul>

<p>Artefaktu-metadatuaren elementuak: </p>
<ul>
    <li>Artefaktuaren Izenburua </li>
    <li>Artefaktu Mota</li>
    <li>Jabea</li>
    <li>Sorrera data</li>
    <li>Azken aldaketaren data</li>
    <li>Deskribapena Description  (non jarria)</li>
    <li>Artefaktuaren neurria (unitateak Artefaktu motaren baitan egongo dira)</li>
</ul>

<p>Posible den lekuetan Artefaktu edo Gailu gehigarriak jar daitezke kaxan klikatuz.</p>
<p>Artefaktuak ezabatu ditzazkezu izenburuaren ondoan dagoen [ X ] botoia sakatuta edo ordezkatu, beste Artefaktu bat aukeratu eta gehituz.</p>
<p>Etiketa-kaxa bat gabe testua sartzerakoan ziurtatu Enter botoia sakatzen duzula editatutakoa gordetzeko.</p>
<p>Ikus: Ziurtatu zure fitxategi biltegian kargatutako irudiek bistaratuak izateko neurri egokia dutela. Normalean 300x300 pixel ingurukoa izan ohi da</p>
