<h3>Nire Bistak</h3>
<p>Bista bat, aurrez zehaztutako eskema batetan egindako zure ePortfolioan dituzun Artefaktuen bilduma bat da. Beste pertsona batzuk zure Artefaktuak Bista batetan daudenean baino ikus ezin ditzazketenez, nahi dituzun Komunitate eta Erabiltzaile guztiei eman diezaiekezu sarrera. Bista bat pribatua ere izan daiteke.</p>
<p>Nahi dituzun Bista guztiak sor ditzazkezu, eta Bista guztietan berrerabil ditzazkezu zure Artefaktuak.</p>
<p>Zure bista ebaluaziorako parte izateko prestatzen ari bazara, Bista(k) zure tutoreari ebaluazio-bidetik bidal diezazkiokezu Ikastarotan Antolatutako edo Kontrolatutako Partaidetzadun Komunitateetara. Zure Bista bidaltzerakoan blokeatuta geratuko da Bista osoa eta berari lotutako Artefaktuak, eta &#8216;pantaila-kaptura&#8217; bat azalduko da. Bista horretara sartzeko aukera duten erabiltzaile guztiek beren Iruzkin eta Komentarioak egiteko aukera izango dute bidalketarako blokeatuta egon arren.</p>
<p>Behin ebaluazio prozesua amaitutakoan, zure tutoreak zure Bista desblokeatuko du eta beraz, berriz ere editatzeko aukera izango duzu. Zure Bista ebaluaziotik desblokeatua izaten den momentuan jakinaraziko zaizu.</p>
<h4>Bistaren Informazioa Editatu</h4>
<p>
    Bistaren Informazioa Editatu eremua Bista Sortzeko 1.go Urratsaren baliokidea da
    eta Bistaren Izenburua, Sartzeko Hasiera eta Amaiera Datak, Deskribapena eta Aurkezpen Izena aldatu ditzazkezu.
</p>
<h4>Bista Editatu</h4>
<p>
    Bista Editatu eremua Bista Sortzeko 3. Urratsaren baliokidea da
    eta Bistarekin lotutako Artefaktuak gehitu edo aurkezteko modua eraldatzeko
    aukera ematen dizu.
</p>
<h4>Sarrera Editatu</h4>
<p>
    Bista Editatu eremua Bista Sortzeko 4. Urratsaren baliokidea da
    eta Bistan sartzeko Komunitate eta Erabiltzaileen baimenak gehitu, eraldatu edo jartzeko
    aukera ematen dizu.
</p>
<p><em>Zure Bistaren aurre-bista egin dezakezu bere Izenburuan klikatuz, pantailaren ezkerraldean.</em></p>

<h3>Beste erabiltzaileen bistetara sarrera</h3>
<p>
    Beste erabiltzaile baten Bistara sartzerakoan, Bistaren pantailaren
    behekaldean ondoko aukerak ikusiko dituzu.
</p>
<h4>Iruzkin bat egin</h4>
<p>
    Erabiltzaile baten Bistan edo Artefaktuan iruzkin bat gehitu dezakezu.
    Iruzkin Publiko edo Pribatua egin dezakezu. Iruzkin Publikoak Bistara sartzeko aukera duten
    beste erabiltzaileek ikusi ahal izango dute. Iruzkin Pribatuak Bistaren jabeak
    baino ezingo ditu ikusi. Bistaren jabeak zure Iruzkin Publiko bat Pribatu
    egin dezake, baina zure Iruzkin Pribatu bat ezingo du Publiko egin.
</p>
<p>
    Bistak ebaluaziorako bidali direnean, Langilegoaren parte direnek
    fitxategi bat gehitu ahal izango dute beren Iruzkinetan.
</p>
<h4>Material iraingarriaren salaketa</h4>
<p>
    Iraingarria edo desegokia den materialen bat ikusi baldin baduzu Bistaren batetan,
    Guneko Administratzaileari jakinarazi diezaiokezu Material iraingarrien salaketan dagoen
    formularioa erabiliz. Garrantzitsua da hau Bistaren kontestua kontutan izatea.
</p>
<h4>Inprimatu</h4>
<p>
    Inprimatu aukerak, irekita duzun Bistaren inprimatzeko aproposa den bertsio bat
    sortuko dizu.
</p>
<h4>Bista Gehitu Ikus-Zerrendan</h4>
<p>
    Bista gehitu Ikus-Zerrendan atalak Bista hau zure Ikus-Zerrendan gehitzeko
    aukera ematen dizu, eta beraz, bertan egindako aldaketen berriak iritsiko zaizkizu.
</p>
<h4>Bista osoa gehitu Ikus-Zerrendan</h4>
<p>
    Bista osoa gehitu Ikus-Zerrendan atalak, Bista hau eta berari lotuta dituen
    Artefaktu guztiak zure Ikus-Zerrendan gehitzeko aukera ematen dizu, honela, 
    egiten diren aldaketa guztien berri jaso dezazun.
</p>
