<h3>Nire Helburuak</h3>
<p>Zure Helburuak eremuan atal Pertsonala, Akademikoa eta Ibilbide Profesionala bereizten dira. Kaxa bakoitzean, HTML editorea erabilita zure Helburuekin lotutako informazioa jar dezakezu eta ondorioz, Bista batetan jartzeko aukera izango duzu baita.</p>
<p>Helburuak Aurkezpenetan jarri ohi dira enplegatzaileek zure nahiekin bat etorriko den rola zein izan daiteken argiago ikus dezaten.</p>
<p>Era berean, Helburu Akademikoak atala, ikastaro edo ikasketa programa batekiko dituzun interesak azaltzeko erabili dezakezu.</p>
<p>Helburu Pertsonal, Akademiko eta/edo Ibilbide Profesionala kaxetan informazioa jarritakoan, <b>Gorde</b> klikatu.</p>
