<h3>Nire Trebetasunak</h3>
<p>Zure Trebetasunak eremua, Pertsonal, Akademikoa eta Lana ataletan banatzen da. Kaxa bakoitzaren HTML editorea erabilita zure Trebetasunekin lotutako informazioa jar dezakezu, eta ondorioz, Bista batetan gehitu dezakezu. Enplegatzaileak bereziki interesatuak egon daitezke rol edo antolamendu batetara eraman ditzazkezun Trebetasunak ezagutzeaz.</p>
<p>Trebetasun eremua, komunitate edo lantalde bati eskain diezazkiokezun gaitasunak adierazteko erabili dezakezu baita.</p>
<p>Trebetasun Pertsonal, Akademiko eta/edo Lan kaxetan informazioa sartutakoan <b>Gorde</b> klikatu.</p>
