<h3>Talde-fitxategiak</h3> <p>Talde-fitxategiak eremua zure taldearen orrietan erabiltzeko karpetak eta fitxategiak partekatzeko biltegia da.</p> <p>Gora eta behera eraman ditzakezu fitxategiak eta karpetak ordenatzeko.</p> 