<h3>Nire Lagunak</h3> <p>Zure Lagunak eremuan zure lagunen zerrenda agertuko da eta zurekin partekatzen dituzten orriak.</p> <p>Erabiltzaile batek berriz bidal diezazuke lagun eskaera, aldez aurretik uko egin badiozu ere.</p>
