<h3>Administrazio-Plugina</h3> <p>Derrigorrezko gisa markatuta dauden eremu hauek erabiltzaile kontuen sorkuntzarako CSV fitxategian gehitu behar dira edo erabiltzaileak behin gunean erregistratu ostean osa ditzazkete bestela.</p> <p>Publikotzat markaturiko profil eremu hauek erregistraturiko erabiltzaile gisa sisteman sartutako guztien eskura egongo dira erabiltzaileak bilatu profil publikoen eremua erabiliz.</p>
