<h3>Profil-Ikonoak</h3>
<p>Profil-Ikonoak eremuak, zure Profil eta Biestetan erabiliko dituzun irudiak gora-kargatzeko aukera ematen dizu. Zure Ikonoa, zure argazkia edo zu ordezkatzeko aukeratu duzun irudi bat izan daiteke.</p>
<p>5 ikono kargatu ditzazkezu batera zure Profil-Ikonoak eremura. Igoko dituzun irudiek 100x100 eta 300x300 bitarteko neurria izan behar dute eta automatikoki egokituko da beren neurria 100x100 pixeletara.</p>
<p>Lehenetsitako irudia zure Profil-orrian azalduko da.</p>
