<h3>Liburuak eta Argitalpenak</h3>
<p><b>Gehitu</b> botoia erabili zure Liburu edo Argitalpenen atalean sarrera bat txertatzeko. Zure Liburu eta Argitalpen sarrerak beheranzko orden kronologikoz erakutsiko dira.</p>
<p><b>Gorde</b><br />
Liburu eta Argitalpen eremutik irten aurretik egindako sarrera <b>Gorde</b> duzula egiaztatu.</p>
<p><b>Ezeztatu</b><br />
Zure sarrera berria ezeztatu nahi baduzu <b>Ezeztatu</b> sakatu Liburu eta Argitalpenak Gehitu formularioa isteko. Mesedez, ikus Ezeztatuz gero, zure sarrera <i>ez dela gordeko</i>.</p>
<p>Zure Liburu eta Argitalpen sarrera berria gorde ondoren Aurkezpen eremuan azalduko da tabular formatuan. Aldaketak egin ditzazkezu zure sarreran <b>Editatu</b> klikatuz. Aldaketak egindakoan eta <b>Gordetakoan</b>, <b>Nire Aurkezpenera Bueltatu</b> sakatu Aurkezpenaren pantaila nagusira bueltatzeko.</p>
<p><b>Ezabatu</b> aukera erabili zure Liburu eta Argitalpenetako edozein ezabatzeko.</p>
<p>Deskribapen bat jarri baduzu, zure Liburu eta Argitalpen sarrera lotura gisa bistaratuko da, eta bertan klikatuta zabaldu/txikitu egingo da Deskribapenaren informazioa erakutsi/ezkutatzeko.</p>