<h3>Ziurtagiri, Benetakotze-agiri eta Sariak</h3>
<p><b>Gehitu</b> botoia erabili zure Ziurtagiri, Benetakotze-agiri eta Sariak atalean sarrera berri bat gehitzeko. Zure Ziurtagiri, e.a.ak beheranzko orden kronologikoan erakutsiko dira.</p>
<p><b>Gorde</b><br />
Ziurtagiri, Benetakotze-agiri eta Sarien ataletik irten aurretik, zure sarrera <b>Gorde</b> duzula egiaztatu.</p>
<p><b>Ezeztatu</b><br />
Egindako sarrera ezeztatu nahi baduzu <b>Ezeztatu</b> botoia erabili Ziurtagiri, Benetakotze-agiri eta Sarrerak Gehitu galdetegia isteko. Mesedez, ikus Ezeztatuz gero, zure sarrera <i>ez dela gordeko</i>.</p>
<p>Zure Ziurtagiri, Benetakotze-agiri eta Sarietan sarrera berri bat gordetakoan, zure Aurkezpen eremuan azalduko da tabular formatuan. <b>Editatu</b> botoian klikatu zure sarreran aldaketak egin ahal izateko. Aldaketak egin eta <b>Gordetakoan</b>, <b>Nire Aurkezpenera Bueltatu</b> erabili Aurkezpenaren pantaila nagusira bueltatzeko.</p>
<p>Zure Ziurtagir, Benetakotze-agiri eta Sarietan egindako edozein sarrera kentzeko <b>Ezabatu</b> botoia erabili dezakezu.</p>
<p>Deskribapen bat jarri baduzu, zure Liburu eta Argitalpen sarrera esteka gisa erakutsiko da, eta bertan klikatuta zabaldu/txikitu egingo da Deskribapenaren informazioa erakutsi/ezkutatzeko.</p>
