<h3>Ikasketa-Ibilbidea</h3>
<p><b>Gehitu</b> botoia erabili zure Ikasketa-Ibilbidea atalean sarrera bat txertatzeko. Zure Ikasketa-Ibilbideko sarrerak beheranzko orden kronologikoz erakutsiko dira.</p>
<p><b>Gorde</b><br />
Ikasketa-Ibilbidea eremutik irten aurretik egindako sarrera <b>Gorde</b> duzula egiaztatu.</p>
<p><b>Ezeztatu</b><br />
Zure sarrera berria ezeztatu nahi baduzu <b>Ezeztatu</b> sakatu Ikasketa-Ibilbideko sarrerak Gehitu formularioa isteko. Mesedez, ikus Ezeztatuz gero, <i>zure sarrera ez dela gordeko</i>.</p>
<p>Zure Ikasketa-Ibilbideko sarrera berria gorde ondoren Aurkezpen eremuan azalduko da tabular formatuan. Aldaketak egin ditzazkezu zure sarreran Editatu klikatuz. Aldaketak egindakoan eta Gordetakoan, Nire Aurkezpenera Bueltatu sakatu Aurkezpenaren pantaila nagusira bueltatzeko.</p>
<p>Deskribapen bat jarri baduzu, zure Ikasketa-Ibilbideko sarrera esteka gisa erakutsiko da, eta bertan klikatuta zabaldu/txikitu egingo da Deskribapenaren informazioa erakutsi/ezkutatzeko.</p>