<h3>Partaidetza Profesionala</h3>
<p><b>Gehitu</b> botoia erabili zure Partaidetza Profesionala atalean sarrera berri bat txertatzeko. Zure Partaidetza Profesionaleko sarrerak beherazko orden kronologikoan erakutsiko dira.</p>
<p><b>Gorde</b><br />
Partaidetza Profesionala ataletik irten aurretik, zure sarrera <b>Gorde</b> duzula egiaztatu.</p>
<p><b>Ezeztatu</b><br />
Egindako sarrera ezeztatu nahi baduzu <b>Ezeztatu</b> botoia erabili Partaidetza Profesionala Gehitu formularioa isteko. Mesedez, ikus Ezeztatuz gero, zure sarrera <i>ez dela gordeko</i>.</p>
<p> After saving your new Professional Membership entry you will see it displayed in tabular format within your Résumé area.  You can make adjustments to your entry by clicking on Edit.  Once you have made the required changes and have Saved, use Back to My Résumé to return to the main Résumé screen.</p>
<p>Zure Partaidetza Profesionalean egindako edozein sarrera kentzeko Ezabatu botoia erabili dezakezu.</p>
<p>Deskribapen bat jarri baduzu, zure Partaidetza Profesionala esteka gisa erakutsiko da, eta bertan klikatuta zabaldu/txikitu egingo da Deskribapenaren informazioa erakutsi/ezkutatzeko.</p>