<h3>Fitxategia Igo</h3>
<p>Blog-post bati hainbat fitxategi gehitu diezaiokezu. Blog-posta eremura gehitutako fitxategiak automatikoki zure fitxategi eremuan gordeko dira, &#8216;blog-fitxategiak&#8217 izeneko karpetan; eta zure fitxategi-biltegi kuotaren barnean hartuko da kontuan.</p>
<p>Fitxategi bat igotzen baldin baduzu eta ondoren posta edo Blog eremua gorde gabe isten baldin baduzu, fitxategi horiek zure fitxategi biltegitik desagertuko egingo dira.</p>
<p>Blog-post batera irudi bat igotzen baldin baduzu, HTML editorearen Irudia botoia erabil dezakezu irudi hori postan txertatzeko. Neurria, alineazioa, ertza edo irudiaren inguruan utzi nahi duzun tartea aukera ditzakezu bertan azaltzen zaizkizun eremuak betez.</p> <p>Beste webgunetako Irudiak ere esteka moduan txerta ditzakezu. Irudiaren URLa jar dezakezu edo webgunetik irudia &#8216;sakatu eta eraman&#8217; dezakezu HTML editorera. Mesedez, irudi hau erabiltzeko copyright baimen egokiak dauzkazula ziurtatu.</p> <p>Irudiek ez dute 400x400 pixel baina handiagoak eta albo bakoitzean 5 pixel baino txikiagoko tartea izan behar emaitza aproposak lortzeko.</p>