<h3>Nire Taldeak</h3>
<p>Harremanen bat mantentzen duzun taldeen zerrenda ikus dezakezu hemen.</p>
<p>Zure jabetzako edota partaide zaren taldeak ikus ditzazkezu, hala nola, gonbidatuta zauden talde edo partaidetza eskaera egina dituzunak ere.</p>
<p>Talde batean zure bistak gainontzeko partaideekin konpartitu ditzazkezunean, eta foroak bezalako aktibitateetan sar zaitezkenean.</p>