<h3>Etiketak</h3> <p>Etiketak gehitu ditzakezu Maharan sortzen dituzun gailu eta orrietan. Etiketek gailu eta orriei deskribapen-hitzak gehitzeko eta Etiketen sailkapenerako aurkibide bat osatzeko aukera eskeintzen dizute.</p>
<p>Gailu edo orri bati Etiketa anitz lotzeko, Etiketak kakotxa baten bidez banandu. Adibidez - ‘Ebaluazioa, 2 lauhilabetekoa, Enpresaritza’.</p> <p><b>Nire etiketak erakutsi</b>-ri sakatuta zure portfolioan erabili dituzun etiketen zerrenda bat sortuko zaizu eta zenbatetan jarri dituzun erakutsiko dizu.  Existitzen den Etiketa bati sakatuta sortzen edo editatzen ari zaren gailu eta orrien etiketa-zerrendan gehituko da.</p> <p><b>Nire Portfolioan Bilatu</b> erabilita, Etiketa jakin batekin lotuta dauzkazun gailu eta orri guztiak bila ditzakezu, bide batez, zure portfoliorako fitxategi sistema bat edo aurkibide bat sortuz.</p>
